<mat-table [dataSource]="shoppingCart">

  <!-- Definición de las columnas -->
  <ng-container matColumnDef="name" class="width" >
    <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="price" class="width" >
    <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.price }}</mat-cell>
  </ng-container>

  <!-- Columna para el botón de eliminar -->
  <ng-container matColumnDef="actions" class="width" >
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let item">
      <button mat-icon-button color="warn" (click)="removeFromCart(item)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="[ 'name', 'price', 'actions' ]"></mat-header-row>
  <mat-row *matRowDef="let row; columns: [ 'name', 'price', 'actions']"></mat-row>
</mat-table>

<button mat-raised-button color="warn" class="width" (click)="clearCart()">Eliminar carrito</button>

