
.mat-dialog-container {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  color: black;
}
.mat-dialog-content {
  color:  #673ab7;
}
button.mat-dialog {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.gris {
  color: #D3D3D3;
;
}


h2{
  background-color: #673ab7;
}
