.product-table {
  width: 100%;
}
.header-image {
  width: 150px;
  justify-content: center;
}
.mat-column-image {
  border-right: 1px solid currentColor;
  justify-content: center;
}
.mat-column-name {
  border-right: 1px solid currentColor;
  justify-content: center;
}
.mat-column-price {
  border-right: 1px solid currentColor;
  justify-content: center;
}
.mat-column-description {
  border-right: 1px solid currentColor;
  justify-content: center;
}
.mat-column-actions {
  border-right: 1px solid currentColor;
  justify-content: center;
}

