.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.login {
  width: 100%;
  max-width: 350px;
  padding: 50px;
  text-align: center;
  background: #cccccc;
  border-radius: 20px;
}
.width {
  max-width: 100%;
  margin-top: 15px;
}
.button {
  margin-top: 15px;
  border-radius: 20px;
}

