<app-toolbar></app-toolbar>

<div class="home-p">
  <div class="home-text">
    <h1>We connect travelers & buyers all around the world!</h1>
    <p>Get those products that you always wanted, at the lowest price and delivered by travelers to your city.</p>
  </div>

  <div class="client-type-buttons">
    <button mat-flat-button color="primary" routerLink="/new-trip" aria-label="Go to add a new trip.">
      Travel
    </button>
    <button mat-flat-button color="primary" routerLink="/new-request" aria-label="Go to add a new request.">
      Buy
    </button>
  </div>
</div>

<app-dashboard></app-dashboard>
