<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>TripStore</span>
    <span class="spacer"></span>
    <button mat-flat-button color="primary" routerLink="/new-trip" aria-label="Go to add a new trip.">
      Add a new trip
    </button>
    <button mat-flat-button color="accent" routerLink="/view-trips" aria-label="Go to add a view trips added.">
      View trips
    </button>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button (click)="openDialog()">
      <mat-icon  >notifications</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Edit Profile</button>
      <button mat-menu-item>Close</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
