.spacer {
  flex: 1 1 auto;
}

::ng-deep .custom-menu .mat-menu-content {

  border-radius: 25px !important;
  padding: 25px; /* Incrementa el valor de padding para agregar más espacio */

  min-width: 300px; /* Agrega un ancho mínimo al menú */
  min-height: 300px; /* Agrega una altura mínima al menú */
}

::ng-deep .menu-item {

  color: black; /* Cambia este valor al color deseado para el contenido */
  transition: color 0.3s ease;
  padding: 0 15px; /* Agrega un padding horizontal de 15px a cada elemento de menú */
}

::ng-deep .menu-item2 {

  color: black; /* Cambia este valor al color deseado para el contenido */

  padding: 0 15px; /* Agrega un padding horizontal de 15px a cada elemento de menú */
}

::ng-deep .menu-item:hover {
  color: #673ab7; /* Cambia este valor al color deseado cuando se pasa el mouse sobre el texto */
}

