<mat-toolbar>
  <mat-toolbar-row>
    <div class="left-content">
      <div class="image-container">
        <img alt="Login Logo TripStore" class="fade-in" height="60" ngSrc="../../../assets/images/logo-dashboard.svg"
             priority width="180">
      </div>
    </div>
    <div class="right-content">
      <button mat-icon-button routerLink="/home">
        <mat-icon>home</mat-icon>
      </button>
      <button (click)="openShoppingCartDialog()" mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button routerLink="/view-trips">
        <mat-icon>airplanemode_active</mat-icon>
      </button>
      <button mat-stroked-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        {{ getUsernameFromLocalStorage() }}
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/my-profile" class="menu-button">
            <mat-icon>account_circle</mat-icon>
            <span>My Profile</span>
          </button>
          <button mat-menu-item (click)="logout()" class="menu-button">
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
        </mat-menu>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
