<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <div id="lottie-container"></div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="body">
    <form class="register">
      <mat-form-field class="width" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter username">
      </mat-form-field>
      <mat-form-field class="width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter email">
      </mat-form-field>
      <mat-form-field class="width" appearance="fill">
        <mat-label>Phone number</mat-label>
        <input matInput placeholder="Enter phone number">
      </mat-form-field>
      <mat-form-field class="width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter password">
      </mat-form-field>
      <button class="width" mat-raised-button color="primary">Register</button>
    </form>
    </div>
  </mat-grid-tile>
</mat-grid-list>
