.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.register {
  width: 100%;
  max-width: 330px;
  margin: auto;
  text-align: center;
  padding: 50px;
  background: #cccccc;
  border-radius: 20px;
}
.width {
  width: 100%;
  margin-top: 10px;
}
